name: Test

on:
  pull_request:
  push:
    branches:
      - main
      - dev
    paths-ignore:
      - '**/*.md'
      - 'LICENSE*'
      - '.github/workflows/precompile.yml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  linux:
    if: "!contains(github.event.pull_request.labels.*.name, 'skip ci')"
    runs-on: ubuntu-20.04
    env:
      MIX_ENV: test

    services:
      pg:
        image: postgres:11
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - uses: actions/checkout@v4
      - uses: erlef/setup-beam@v1
        with:
          otp-version: 25.3
          elixir-version: 1.14

      - name: Compile and Test
        run: |
          mix deps.get
          mix test

      - name: Test custom driver
        run: |
          mix test --only duckdb

  windows:
    if: "!contains(github.event.pull_request.labels.*.name, 'skip ci')"
    runs-on: windows-latest
    env:
      MIX_ENV: test
    steps:
      - uses: actions/checkout@v4

      - uses: erlef/setup-beam@v1
        with:
          otp-version: 26
          elixir-version: 1.15

      - uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x64

      - name: Compile and Test
        shell: bash
        run: |
          mix deps.get
          mix test --exclude postgresql

  macos:
    if: "!contains(github.event.pull_request.labels.*.name, 'skip ci')"
    runs-on: macos-11
    env:
      MIX_ENV: test
      OTP_VERSION: "26.2.1"
      ELIXIR_VERSION: "1.15.7"

    steps:
      - uses: actions/checkout@v4

      - name: Cache OTP
        uses: actions/cache@v4
        id: cache-otp
        with:
          path: ./cache/otp
          key: ${{ runner.os }}-otp-${{ env.OTP_VERSION }}

      - name: Download OTP
        if: steps.cache-otp.outputs.cache-hit != 'true'
        run: |
          mkdir -p ./cache/otp
          curl -fSL https://cocoa.build/otp/v${{ env.OTP_VERSION }}/otp-x86_64-apple-darwin.tar.gz -o ./cache/otp/otp-v${{ env.OTP_VERSION }}-x86_64-apple-darwin.tar.gz
          cd ./cache/otp
          tar -xzf otp-v${{ env.OTP_VERSION }}-x86_64-apple-darwin.tar.gz

      - name: Cache Elixir
        id: cache-elixir
        uses: actions/cache@v4
        with:
          path: ./cache/elixir
          key: ${{ runner.os }}-elixir-${{ env.ELIXIR_VERSION }}

      - name: Download and Compile Elixir
        if: steps.cache-elixir.outputs.cache-hit != 'true'
        run: |
          export PATH=$(pwd)/./cache/otp/usr/local/bin:$(pwd)/./cache/elixir/elixir-${{ env.ELIXIR_VERSION }}/bin:${PATH}
          export ERL_ROOTDIR=$(pwd)/./cache/otp/usr/local/lib/erlang
          mkdir -p ./cache/elixir
          curl -fSL https://github.com/elixir-lang/elixir/archive/refs/tags/v${{ env.ELIXIR_VERSION }}.tar.gz -o ./cache/elixir/elixir-${{ env.ELIXIR_VERSION }}.tar.gz
          cd ./cache/elixir
          tar -xzf elixir-${{ env.ELIXIR_VERSION }}.tar.gz
          cd elixir-${{ env.ELIXIR_VERSION }}
          make -j$(sysctl -n hw.ncpu) install

      - name: macOS setup
        run: |
          export PATH=$(pwd)/./cache/otp/usr/local/bin:$(pwd)/./cache/elixir/elixir-${{ env.ELIXIR_VERSION }}/bin:${PATH}
          export ERL_ROOTDIR=$(pwd)/./cache/otp/usr/local/lib/erlang
          mix local.hex --force
          mix local.rebar --force

      - name: Compile and Test
        run: |
          export PATH=$(pwd)/./cache/otp/usr/local/bin:$(pwd)/./cache/elixir/elixir-${{ env.ELIXIR_VERSION }}/bin:${PATH}
          export ERL_ROOTDIR=$(pwd)/./cache/otp/usr/local/lib/erlang
          mix deps.get
          mix test --exclude postgresql
