name: Test

on:
  pull_request:
  push:
    branches:
      - main
      - dev
    paths-ignore:
      - '**/*.md'
      - 'LICENSE*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  linux:
    if: "!contains(github.event.pull_request.labels.*.name, 'skip ci')"
    runs-on: ubuntu-20.04
    env:
      MIX_ENV: test

    steps:
      - uses: actions/checkout@v3
      - uses: erlef/setup-beam@v1
        with:
          otp-version: 25.3
          elixir-version: 1.14

      - name: Compile and Test
        run: |
          mix deps.get
          mix test

  windows:
    if: "!contains(github.event.pull_request.labels.*.name, 'skip ci')"
    runs-on: windows-latest
    env:
      MIX_ENV: test
    steps:
      - uses: actions/checkout@v3

      - uses: erlef/setup-beam@v1
        with:
          otp-version: 25.3
          elixir-version: 1.14

      - uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x64

      - name: Compile and Test
        timeout-minutes: 5
        shell: bash
        run: |
          mix deps.get
          mix test

  macos:
    if: "!contains(github.event.pull_request.labels.*.name, 'skip ci')"
    runs-on: macos-11
    env:
      MIX_ENV: test

    steps:
      - uses: actions/checkout@v3

      - name: macOS setup
        run: |
          brew install erlang elixir
          mix local.hex --force
          mix local.rebar --force

      - name: Compile and Test
        run: |
          mix deps.get
          mix test
